[user]
	name = daicham
	email = daicham@gmail.com
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	di = diff
	l = log --graph
	hist = log --pretty=format:'[%ad] %h %an : %s' --graph --date=short
	sco = sparse-checkout
[core]
	autocrlf = input
